/* Inter font */
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
:root {
  --gradient-color: linear-gradient(
    45deg,
    rgba(247, 233, 63, 1) 0%,
    rgba(251, 9, 180, 1) 51%,
    rgba(145, 0, 248, 1) 100%
  );
  --green-color: #00ff88;
  --white-color: #ffffff;
  --light-purple: rgb(65, 37, 103);
  --semi-light-purple: #230e3d;
  --dark-purple: #1a0b2e;
  --normal-light-purple: rgba(53, 17, 101, 0.4);
  --hover-color: rgba(53, 17, 101, 0.8);
}

/* universal styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Inter font styles */
.inter-regular {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* shared styles */
.container {
  width: min(92%, 1200px);
  margin-inline: auto;
}
.background {
  background-color: var(--dark-purple);
}
.primary-btn {
  font-weight: 500;
  font-size: 1.2rem;
  color: var(--white-color);
  background: var(--gradient-color);
  border: none;
  padding: 0.5rem 0.8rem;
  border-radius: 999px;
}
hr {
  border: none;
  height: 1px;
  background-color: var(--light-purple);
}
svg {
  height: 40px;
  width: 45px;
}
.common-section-title {
  font-size: 3rem;
  color: var(--white-color);
  font-weight: 700;
  text-align: center;
  margin-bottom: 3rem;
}

/* navbar related styles */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0.5rem;
  position: relative;
}
/* nav heading and footer title style */
.nav-heading,
.footer-title {
  color: var(--white-color);
  font-weight: 700;
  font-size: 2.5rem;
}
.nav-heading span,
.footer-title span {
  background: var(--gradient-color);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}
/* nav-links */
.nav-links {
  list-style-type: none;
  display: flex;
  gap: 1.5rem;
}
.nav-links a {
  color: var(--white-color);
  text-decoration: none;
  display: inline-block;
  transition:
    transform 0.3s ease-in-out,
    color 0.3s ease;
}
.nav-links a:hover {
  transform: scale(1.2);
  color: #00ff88;
}
/* hamburger button */
.hamburger {
  background: none;
  color: var(--white-color);
  font-size: 1.5rem;
  border: none;
  display: none;
}

/* hero section related styles */
.hero {
  background-image: url("../assets/hero-bg.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 4rem 1rem;
  display: flex;
  gap: 2.5rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
/* hero circle */
.hero-circle-container {
  position: relative;
}
.hero-circle-container img {
  display: block;
}
.hero-circle {
  width: 100%;
}
.microphone {
  width: 35%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: micFloat 2s ease-in-out infinite;
}
@keyframes micFloat {
  0%,
  100% {
    transform: translate(-50%, -50%) translateY(0);
  }
  50% {
    transform: translate(-50%, -50%) translateY(-10px);
  }
}
.hero-badge {
  position: absolute;
  top: 0;
  right: 15%;
  font-weight: 600;
  font-size: 1.2rem;
  background-color: var(--green-color);
  padding: 0.4rem 0.8rem;
  border-radius: 999px;
  box-shadow: 0 3px 27px 0 rgba(0, 255, 136, 0.5);
  animation: badgeFloat 2s ease-in-out infinite;
}
@keyframes badgeFloat {
  0% {
    transform: scale(1);
    box-shadow: rgba(0, 255, 136, 0.7) 0px 0px 0px 0px;
  }
  50% {
    transform: scale(1.1);
    box-shadow: rgba(0, 255, 136, 0) 0px 0px 0px 10px;
  }
  100% {
    transform: scale(1);
    box-shadow: rgba(0, 255, 136, 0) 0px 0px 0px 0px;
  }
}
/* hero - content */
.hero-content {
  color: var(--white-color);
  text-align: center;
}
.hero-content h2 {
  font-weight: 700;
  font-size: 3rem;
}
.hero-content p {
  opacity: 0.8;
  margin-block: 1rem;
}
.subscribed-btn2 {
  background: none;
  color: var(--green-color);
  border: 2px solid var(--green-color);
}
.hero-btn-container button {
  display: block;
}
.hero-btn-container {
  display: flex;
  gap: 0.5rem;
  justify-content: center;
  align-items: center;
}

/* about section related */
.about {
  color: var(--white-color);
}
.about-des {
  max-width: 70%;
  margin-inline: auto;
  text-align: center;
  padding-block: 3rem;
}
.about-des p {
  opacity: 0.8;
  font-size: 1rem;
  line-height: 2rem;
}
.promotional-txt {
  margin-top: 2rem;
}
/* about stats */
.about-stats-container {
  padding-inline: 1rem;
  text-align: center;
  display: grid;
  gap: 1.5rem;
  grid-template-columns: repeat(4, 1fr);
  padding-block: 3rem;
  margin-inline: auto;
}
.stats-card h3 {
  color: var(--green-color);
  font-weight: 700;
  font-size: 3rem;
}
.stats-card p {
  opacity: 0.8;
  margin-top: 1rem;
}

/* showcase section */
.showcase {
  background-color: var(--semi-light-purple);
  padding-block: 3.5rem;
}
/* for grid areas */
.card-1 {
  grid-area: card1;
}
.card-2 {
  grid-area: card2;
}
.card-3 {
  grid-area: card3;
}
.card-4 {
  grid-area: card4;
}
.card-5 {
  grid-area: card5;
}
.showcase-card-container {
  display: grid;
  grid-template-areas:
    "card1 card2 card2"
    "card1 card3 card3"
    "card4 card4 card5";
  gap: 2rem;
}
.showcase-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1.2rem;
  background-color: var(--normal-light-purple);
  padding: 2rem 1.5rem;
  border-radius: 40px;
  transition:
    transform 0.3s ease,
    background-color 0.5s ease;
}
.showcase-card:hover {
  transform: translateY(-10px);
  background-color: var(--hover-color);
}
.showcase-card-img {
  display: block;
  width: 55px;
  height: 55px;
}
.showcase-card-title {
  font-weight: 700;
  color: var(--white-color);
  font-size: 1.5rem;
}
.showcase-card-des {
  color: var(--white-color);
  opacity: 0.8;
  font-size: 1rem;
}

/* featured section */
.featured-section {
  padding-block: 3.5rem;
}
.featured-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.5rem;
}
.featured-card-container {
  background-color: var(--normal-light-purple);
  border-radius: 30px;
  transition:
    transform 0.3s ease,
    background-color 0.5s ease;
}
.featured-card-container:hover {
  transform: translateY(-10px);
  background-color: var(--hover-color);
}
.featured-card-container > img {
  display: block;
  width: 100%;
  height: 200px;
  border-radius: 30px 30px 0 0;
}
.featured-card-des {
  padding: 1.5rem;
}
.featured-card-container h3 {
  font-size: 1.2rem;
  color: var(--white-color);
}
.featured-card-container p {
  color: var(--white-color);
  opacity: 0.8;
  font-size: 1rem;
  margin-block: 1rem;
}
.duration-badge {
  display: flex;
  align-items: center;
  gap: 8px;
}
.duration-badge img {
  width: 20px;
  height: 20px;
}
.duration-badge span {
  color: var(--green-color);
  font-weight: 700;
}

/* host section */
.host {
  padding-block: 4rem;
}
.host-container {
  background-color: var(--semi-light-purple);
  padding: 2rem 1.5rem;
  display: flex;
  gap: 1.5rem;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  transition:
    transform 0.3s ease,
    background-color 0.5s ease;
}
.host-container:hover {
  transform: translateY(-10px);
  background-color: var(--hover-color);
}
.host-des h3 {
  font-weight: 700;
  color: var(--white-color);
  font-size: 2rem;
}
.host-des p {
  color: var(--white-color);
  opacity: 0.8;
  margin-block: 1rem;
}
.host-des-links a {
  padding: 10px;
  border: 1px solid rgba(255, 255, 255, 0.356);
  border-radius: 50%;
  transition: transform 0.3s ease;
}
.host-des-links a:hover {
  transform: scale(0.7);
}
.host-des-links img {
  display: block;
  height: 20px;
  width: 20px;
}
.host-des-links {
  display: flex;
  gap: 1rem;
}

/* footer related styles */
.footer {
  background-image: url("../assets/footer-bg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.footer-container {
  text-align: center;
  padding-block: 6rem;
  width: min(38%, 1200px);
  margin-inline: auto;
}
.footer-des,
.footer-links a {
  color: var(--white-color);
  opacity: 0.8;
  text-decoration: none;
}
.footer-links a > img {
  display: block;
  height: 24px;
  width: 24px;
}
.footer-links a {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}
.footer-links a:hover {
  text-decoration: underline;
}
.footer-links {
  margin-block: 1.5rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
}
/* for mobile devices */
@media (max-width: 576px) {
  /* shared styles */
  .common-section-title {
    font-size: 1.5rem;
    padding-inline: 1rem;
    margin-bottom: 1.5rem;
  }

  /* navbar */
  .nav-links,
  .subscribed-btn {
    display: none;
  }
  .hamburger {
    display: block;
  }
  /* for toggle hamburger */
  .nav-links.show {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 70px;
    left: 0;
    width: 100%;
    padding: 1rem;
    gap: 1rem;
    z-index: 10;
  }

  /* hero section */
  .hero {
    padding-block: 1.5rem;
    gap: 1rem;
  }
  .subscribed-btn2,
  .spotify-btn {
    font-size: 1rem;
  }

  /* about section */
  .about-des {
    max-width: 92%;
    padding-block: 1.5rem;
  }
  .about-stats-container {
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
  }
  .stats-card h3 {
    font-size: 2rem;
  }
  .stats-card p {
    margin-top: 0.5rem;
  }
  svg {
    height: 25px;
    width: 30px;
  }

  /* showcase section */
  .showcase {
    padding-block: 2rem;
  }
  .showcase-card-container {
    display: grid;
    grid-template-areas:
      "card1"
      "card2"
      "card3"
      "card4"
      "card5";
    gap: 1rem;
  }
  .showcase-container {
    width: 85%;
  }
  .showcase-card-title {
    font-size: 1.3rem;
  }

  /* featured section */
  .featured-section {
    padding-block: 2rem;
  }
  .featured-container {
    grid-template-columns: 1fr;
  }

  /* host section */
  .host {
    padding-top: 0.5rem;
    padding-bottom: 2rem;
  }
  .host-container {
    flex-direction: column;
    text-align: center;
  }
  .host-des-links {
    justify-content: center;
  }

  /* footer */
  .footer-container {
    padding-block: 2rem;
    width: 85%;
  }
  .footer-links {
    margin-block: 1rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
  }
}

/* for medium devices */
@media (min-width: 576.1px) and (max-width: 976px) {
  /* featured section */
  .featured-container {
    grid-template-columns: repeat(2, 1fr);
  }
  /* footer */
  .footer-container {
    padding-block: 3rem;
    width: 85%;
  }
}
